altgraph==0.17.5
beautifulsoup4==4.14.3
bottle==0.13.4
bottle-websocket==0.2.9
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
clr_loader==0.3.1
Eel==0.18.2
future==1.0.0
gevent==26.5.0
gevent-websocket==0.10.1
greenlet==3.5.1
idna==3.17
importlib_resources==7.1.0
keyboard==0.13.5
packaging==26.2
pefile==2024.8.26
pillow==12.2.0
proxy-tools==0.1.0
pycparser==3.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pynput==1.8.2
pyparsing==3.3.2
pyperclip==1.11.0
pystray==0.19.5
pytesseract==0.3.13
pythonnet==3.1.0
pywebview==6.2.1
pywin32==311
pywin32-ctypes==0.2.3
requests==2.34.2
six==1.17.0
soupsieve==2.8.4
typing_extensions==4.15.0
urllib3==2.7.0
zope.event==6.2
zope.interface==8.5
